.bigbg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#contentShifter {
    width: 100%;
    height: 210px;
    clear: both;
    margin: 0px;
}
article {
    display: block;
    padding: 0 15px;
}
div.socials {
 height: 28px;
 vertical-align: middle;
 float: right;
 clear: both;
 margin-right: 12px;
 }
div.socials > a {
 margin: 2px;
 }
div.socials > a > img {
 width: 22px;
 height: 22px;
 border: 0px none;
 vertical-align: middle;
 margin: 0px;
 padding: 0px;
 outline: medium none;
 }
div.footerModal {
 position: absolute;
 z-index: 20000;
 margin-top: -8px;
 right: 4px;
 display: none;
 }
div.footerModal > div.topBg {
 background-repeat: no-repeat;
 width: 328px;
 height: 22px;
 }
div.footerModal > div.bottomBg {
 background-image: url('../images/bg-bottom.png');
 background-repeat: no-repeat;
 width: 328px;
 height: 10px;
 }
div.footerModal > div.topBg {
 background-image: url('../images/bg-top.png');
 background-repeat: no-repeat;
 }
div.instagram > div.topBg {
 background-position: 0px 0px;
 }
div.twitter > div.topBg {
 background-position: 0px -33px;
 }
div.vk > div.topBg {
 background-position: 0px -66px;
 }
div.facebook > div.topBg {
 background-position: 0px -99px;
 }
div.footerModal > div.content {
 background-image: url('../images/bg-center.png');
 background-repeat: repeat-y;
 width: 320px;
 padding: 0px 8px;
 }
#left-block {
 width: 241px ! important;
 float: left;
 background: url('../images/bg-left.gif') no-repeat scroll right top transparent;
 padding-left: 17px;
 margin-top: 43px;
 display: inline;
 }
#left-block h3 {
 background: url('../images/separator.gif') no-repeat scroll left center transparent;
 padding-left: 15px;
 margin-bottom: 7px;
 font-size: 13px;
 }
#left-block ul {
 margin-bottom: 33px;
 display: block;
 }
#left-block ul li {
 margin: 0px 0px 7px;
 }
#left-block ul li a {
 padding-left: 15px;
 font-weight: normal;
 }
#left-block li#current-item {
 display: inline-block;
 position: relative;
 }
#left-block li#current-item .lister {
 background: url('../images/current-btn.gif') repeat scroll -1px 0px transparent;
 height: 25px;
 display: table-cell;
 padding-right: 20px;
 max-width: 193px;
 }
#left-block li#current-item a {
 line-height: 23px;
 color: rgb(79, 79, 79);
 font-family: Arial;
 font-size: 13px;
 text-decoration: none;
 font-weight: bold;
 height: 25px;
 display: block;
 overflow: hidden;
 white-space: nowrap;
 }
#left-block li#current-item .arrow_right {
 background: url('../images/arrow_right.gif') no-repeat scroll right top transparent;
 display: block;
 height: 27px;
 position: absolute;
 right: 0px;
 top: 0px;
 width: 15px;
 z-index: 45;
 }
#promo_bl {
 text-align: right;
 }
#promo_bl .body_bl {
 z-index: 4;
 }
#promo_bl .shd {
 background: url('../images/shd_promo.png') repeat-x scroll center bottom transparent;
 height: 25px;
 margin-top: -25px;
 position: relative;
 z-index: 10;
 }
#bug_report {
 float: right;
 color: rgb(153, 153, 153);
 width: 25%;
 font: 10px Tahoma;
 padding: 20px 20px 0px 0px;
 text-align: right;
 }
#bug_report img {
 vertical-align: middle;
 }
#copy {
 float: left;
 width: 65%;
 color: rgb(102, 102, 102);
 padding: 20px 0px 0px 20px;
 }
#counters {
 margin: 20px auto 0px;
 width: 130px;
 text-align: center;
 opacity: 0.5;
 }
ul.nav1 li, ul.nav2 li, ul.nav3 li, ul.nav4 li {
 display: inline;
 float: left;
 text-align: center;
 }
ul.nav1 li a, ul.nav2 li a, ul.nav3 li a, ul.nav4 li a, div#nav2 p a {
 font-weight: bold;
 display: inline-block;
 text-decoration: none;
 }
ul.nav1 li a span, ul.nav2 li a span, ul.nav3 li a span, ul.nav4 li a span {
 text-align: center;
 display: inline-block;
 }
ul.nav1 {
 margin: 37px 0px 0px 9px;
 height: 20px;
 }
ul.nav1 li {
 height: 20px;
 margin: 2px 8px 0px;
 vertical-align: middle;
 }
ul.nav1 li a {
 height: 20px;
 text-decoration: underline ! important;
 }
ul.nav1 li a span {
 padding: 0px;
 }
ul.nav1 li a:hover {
 text-decoration: none ! important;
 }
ul.nav1 li a:visited {
 color: rgb(126, 199, 255);
 text-decoration: underline;
 }
html {
 background-color: rgb(240, 244, 244);
 }
* {
 margin: 0px;
 padding: 0px;
 }
body {
 font-family: Arial,Helvetica,sans-serif;
 font-size: 12px;
 background: url('../images/repeat-t1.jpg') repeat-x scroll center top transparent;
 }
#all {
 position: relative;
 text-align: left;
 max-width: 1002px;
 padding: 214px 0px 47px;
 margin: 0px auto;
 min-height: 900px;
 height: auto ! important;
 }
h1, h2, h3 {
 font-family: Arial;
 font-weight: bold;
 }
h1 {
 font-size: 25px;
 color: rgb(51, 51, 51);
 letter-spacing: -0.5px;
 }
h2 {
 font-size: 22px;
 color: rgb(79, 79, 79);
 }
h3 {
 font-size: 16px;
 color: rgb(79, 79, 79);
 }
a, img, a img {
 border: 0px none;
 }
div#foto a, div#video a, div#ln1 a, div.h1 a, div.h2 a, div.h2 em, div#forum-list ul li span, div.tit p, div.tvbl span, #left em, #all-videos em, div.tvb2 em, div.link a, div.tvbl h3 a, ul#help li a, #programm div em {
 font-size: 11px;
 }
.grey, div.h1 a, div.h2 a, div.h2 em, div#forum-list ul li span, div.tit p, div.tvbl a, div.tvbl span, #top-sale em, #top-sale a:hover, #left b a:hover, p.p i, #sale-show h1 em, ul#help li a, #programm div em, #prod em, #about em {
 color: rgb(79, 79, 79);
 }
a, div.tvbl h4 a {
 color: rgb(10, 148, 255);
 text-decoration: underline;
 }
a:hover, a:focus {
 color: rgb(126, 199, 255);
 text-decoration: none;
 cursor: pointer;
 }
a, a img, img {
 outline: 0px none;
 }
#left-block ul, #left-block li {
 list-style-type: none;
 }
#mainmenu_new2 {
 max-width: 982px;
 width: 100%;
 height: 31px;
 margin: 0;
 position: absolute;
 top: 200px;
 z-index: 800;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 }
#mainmenu_new2 li {
 display: inline-block;
 overflow: hidden;
 }
#mainmenu_new2 ul {
 font-size: 0px;
 }
#mainmenu_new2 li a {
 outline-style: none;
 float: left;
 width: 190px;
 height: 0px;
 padding-top: 32px;
 overflow: hidden;
 }
#mainmenu_new2 li a {
 background: url('../images/menu_comedy2.png') no-repeat scroll 0% 0% transparent;
 }
#mainmenu_new2 li div.icons {
 background: url('../images/menu_comedy2.png') no-repeat scroll 0% 0% transparent;
 outline-style: none;
 float: left;
 height: 0px;
 padding-top: 32px;
 overflow: hidden;
 border-radius: 0px 10px 8px 0px;
 }
#mainmenu_new2 li#menu_item_sr {
 width: 149px;
 border-right: 1px solid rgb(187, 187, 187);
 }
#mainmenu_new2 li#menu_item_sr > a {
 position: relative;
 overflow: hidden;
 border-left: 1px solid rgb(187, 187, 187);
 }
#mainmenu_new2 li#menu_item_sr input.edit {
 opacity: 0.6;
 padding: 0px 5px;
 background: url('../images/menu_comedy2.png') no-repeat scroll -444px -117px transparent;
 border-radius: 5px;
 color: rgb(74, 74, 74);
 display: block;
 font: 12px Tahoma;
 height: 23px;
 right: 7px;
 position: absolute;
 text-shadow: 0px 1px 0px rgb(243, 243, 243);
 top: 5px;
 width: 128px;
 z-index: 10;
 border: none;
 }
#mainmenu_new2 li#menu_item_sr input.submit {
 height: 25px;
 position: absolute;
 right: 5px;
 top: 3px;
 width: 25px;
 z-index: 20;
 cursor: pointer;
 border: none;
 }
#mainmenu_new2 li#menu_item_sr input {
 background: none repeat scroll 0% 0% transparent;
 }
#mainmenu_new2 li#menu_item0 a {
 background-position: 0px 0px;
 width: 86px;
 }
#mainmenu_new2 li#menu_item1 a {
 background-position: -86px 0px;
 width: 141px;
 }
#mainmenu_new2 li#menu_item2 a {
 background-position: -227px 0px;
 width: 171px;
 }
#mainmenu_new2 li#menu_item3 a {
 background-position: -398px 0px;
 width: 148px;
 }
#mainmenu_new2 li#menu_item_tv a {
 background-position: -546px 0px;
 width: 147px;
 }
#mainmenu_new2 li#menu_item_sr a {
 background-position: -774px -110px;
 width: 149px;
 text-decoration: none;
 }
#mainmenu_new2 li#menu_item5 div.icons {
 background-position: -833px 0px;
 text-decoration: none;
 width: 139px;
 }
#mainmenu_new2 li#menu_item0 a:hover {
 background-position: 0px -74px ! important;
 width: 86px;
 }
#mainmenu_new2 li#menu_item1 a:hover {
 background-position: -86px -74px ! important;
 width: 141px;
 }
#mainmenu_new2 li#menu_item2 a:hover {
 background-position: -227px -74px ! important;
 width: 171px;
 }
#mainmenu_new2 li#menu_item3 a:hover {
 background-position: -398px -74px ! important;
 width: 148px;
 }
#mainmenu_new2 li#menu_item_tv a:hover {
 background-position: -546px -74px ! important;
 width: 147px;
 }
#mainmenu_new2 li#menu_item0 a:active {
 background-position: 0px -37px ! important;
 width: 86px;
 }
#mainmenu_new2 li#menu_item1 a:active {
 background-position: -86px -37px ! important;
 width: 141px;
 }
#mainmenu_new2 li#menu_item2 a:active {
 background-position: -227px -37px ! important;
 width: 171px;
 }
#mainmenu_new2 li#menu_item3 a:active {
 background-position: -398px -37px ! important;
 width: 148px;
 }
#mainmenu_new2 li#menu_item_tv a:active {
 background-position: -546px -37px ! important;
 width: 147px;
 }
.icons .container {
 position: absolute;
 top: 6px;
 display: block;
 width: 130px;
 height: 20px;
 }
.icons .container .icon {
 position: relative;
 display: block;
 margin-right: 3px;
 margin-left: 3px;
 width: 20px;
 height: 20px;
 float: left;
 overflow: hidden;
 }
#mainmenu_new2 .rt {
 background-position: -657px -110px ! important;
 }
#mainmenu_new2 .rt:hover {
 background-position: -657px -130px ! important;
 }
#mainmenu_new2 .vk {
 background-position: -697px -110px ! important;
 }
#mainmenu_new2 .vk:hover {
 background-position: -697px -130px ! important;
 }
#mainmenu_new2 .fb {
 background-position: -616px -110px ! important;
 }
#mainmenu_new2 .fb:hover {
 background-position: -616px -130px ! important;
 }
#mainmenu_new2 .twitt {
 background-position: -636px -110px ! important;
 }
#mainmenu_new2 .twitt:hover {
 background-position: -636px -130px ! important;
 }
#mainmenu_new2 .instagram {
 background-position: -678px -110px ! important;
 }
#mainmenu_new2 .instagram:hover {
 background-position: -678px -130px ! important;
 }
#content {
 background: url('../images/bg-all-middle.png') repeat-y scroll center center transparent;
 max-width: 1002px;
 float: left;
 display: block;
 }
#copyright #bottom_menu {
 font: 11px/15px Arial;
 color: rgb(136, 136, 136);
 position: relative;
 text-align: center ! important;
 }
#copyright #bottom_menu .btm_cont {
 padding: 0px 20px 20px;
 }
#copyright #bottom_menu a {
 font: 11px/15px Arial;
 color: rgb(136, 136, 136) ! important;
 text-decoration: underline;
 }
#copyright #bottom_menu td {
 padding: 3px;
 }
#copyright #bottom_menu a:hover {
 font: 11px/15px Arial;
 color: rgb(210, 210, 210) ! important;
 }
#copyright {
 background: url('../images/bg-all-middle.png') repeat-y scroll center center transparent;
 clear: both;
 padding-top: 40px;
 width: 100%;
 display: inline-block;
 }
#copyright a {
 color: rgb(51, 102, 255) ! important;
 font-weight: normal;
 }
#copyright div.line {
 margin: 0px 22px;
 }
#img {
 height: 400px;
 margin-left: -2px;
 }
.line {
 background: url('../images/line-grey.gif') repeat-x scroll 0px 0px transparent;
 display: block;
 height: 1px;
 margin: 0px 16px;
 clear: both;
 }
div.br {
 clear: both;
 }
#left-block .mark {
 visibility: hidden;
 display: block;
 width: 19px;
 height: 15px;
 position: absolute;
 margin-left: -10px;
 background-repeat: no-repeat;
 background-position: left top;
 }
#left-block .mark.age12 {
 background-image: url('../images/12.png');
 }
#left-block .mark.age16 {
 background-image: url('../images/16.png');
 }
#left-block .mark.age18 {
 background-image: url('../images/18.png');
 }
#left-block li:hover .mark {
 visibility: visible;
 }
#left-block #current-item .mark {
 visibility: visible;
 display: block;
 width: 30px;
 height: 26px;
 position: absolute;
 margin-left: -19px;
 background-repeat: no-repeat;
 background-position: left top;
 z-index: 100;
 }
#left-block #current-item .mark.age16 {
 background-image: url('../images/16l.png');
 }
#fancybox-loading {
 position: fixed;
 top: 50%;
 left: 50%;
 height: 40px;
 width: 40px;
 margin-top: -20px;
 margin-left: -20px;
 cursor: pointer;
 overflow: hidden;
 z-index: 1104;
 display: none;
 }
#fancybox-loading div {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 40px;
 height: 480px;
 background-image: url('../images/fancybox.png');
 }
#fancybox-overlay {
 position: fixed;
 top: 0px;
 left: 0px;
 bottom: 0px;
 right: 0px;
 background: none repeat scroll 0% 0% rgb(0, 0, 0);
 z-index: 1100;
 display: none;
 }
#fancybox-tmp {
 padding: 0px;
 margin: 0px;
 border: 0px none;
 overflow: auto;
 display: none;
 }
#fancybox-wrap {
 position: absolute;
 top: 0px;
 left: 0px;
 margin: 0px;
 padding: 20px;
 z-index: 1101;
 display: none;
 }
#fancybox-outer {
 position: relative;
 width: 100%;
 height: 100%;
 background: none repeat scroll 0% 0% rgb(255, 255, 255);
 }
#fancybox-close {
 position: absolute;
 top: -15px;
 right: -15px;
 width: 30px;
 height: 30px;
 background-image: url('../images/fancybox.png');
 background-position: -40px 0px;
 cursor: pointer;
 z-index: 1103;
 display: none;
 }
#fancybox-content {
 height: auto;
 width: auto;
 padding: 0px;
 margin: 0px;
 }
#fancybox-title {
 position: absolute;
 bottom: 0px;
 left: 0px;
 font-family: Arial;
 font-size: 12px;
 z-index: 1102;
 }
#fancybox-left, #fancybox-right {
 position: absolute;
 bottom: 0px;
 height: 100%;
 width: 35%;
 cursor: pointer;
 outline: medium none;
 background-image: url('../images/blank.gif');
 z-index: 1102;
 display: none;
 }
#fancybox-left {
 left: 0px;
 }
#fancybox-right {
 right: 0px;
 }
#fancybox-left-ico, #fancybox-right-ico {
 position: absolute;
 top: 50%;
 left: -9999px;
 width: 30px;
 height: 30px;
 margin-top: -15px;
 cursor: pointer;
 z-index: 1102;
 display: block;
 }
#fancybox-left-ico {
 background-image: url('../images/fancybox.png');
 background-position: -40px -30px;
 }
#fancybox-right-ico {
 background-image: url('../images/fancybox.png');
 background-position: -40px -60px;
 }
#fancybox-left:hover, #fancybox-right:hover {
 visibility: visible;
 }
#fancybox-left:hover span {
 left: 20px;
 }
#fancybox-right:hover span {
 left: auto;
 right: 20px;
 }
#content {
 border-radius: 10px 10px 0px 0px;
 overflow: hidden;
 }
#promo_bl {
 text-align: right;
 padding: 0px;
 border-radius: 10px 10px 0px 0px;
 }
#promo_bl .shd {
 position: relative;
 background: url('../images/shd_promo.png') repeat-x scroll center bottom transparent;
 margin-top: -25px;
 height: 25px;
 z-index: 10;
 }
#promo_bl .body_bl {
 z-index: 4;
 }
html, body {
 background: none repeat scroll 0% 0% transparent;
 }
#mainmenu_new2 {
 top: -14px ! important;
 }
#all {
 padding: 0px ! important;
 top: 0px ! important;
 z-index: 100;
 }
#copy {
 padding: 20px 0px 40px 20px ! important;
 }
#copyright {
 border-bottom: 1px solid rgb(204, 204, 204);
 border-radius: 0px 0px 8px 8px;
 }
#main-block {
 display: block;
 max-width: 744px;
 overflow: hidden;
 padding: 20px 0px 0px;
 }
div.tit {
 display: inline;
 float: left;
 margin: 10px 20px 10px 16px;
 }
div.tit h1 {
 letter-spacing: -1px;
 }
div.tit p {
 padding-left: 1px;
 }
div.h1, div.h2, div#forum-list ul {
 margin-left: 15px;
 margin-bottom: 5px;
 }
#pict {
 clear: both;
 max-width: 721px;
 margin: 0 auto 15px;
 padding: 0 10px;
 }
div.txt {
 margin: 0;
 line-height: 20px;
 }
div.txt .p,
div.txt p {
 line-height: 18px;
 margin-top: 10px;
 margin-bottom: 5px;
 }
.fb_reset {
 background: none repeat scroll 0% 0% transparent;
 border: 0px none;
 border-spacing: 0px;
 color: rgb(0, 0, 0);
 cursor: auto;
 direction: ltr;
 font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
 font-size: 11px;
 font-style: normal;
 font-variant: normal;
 font-weight: normal;
 letter-spacing: normal;
 line-height: 1;
 margin: 0px;
 overflow: visible;
 padding: 0px;
 text-align: left;
 text-decoration: none;
 text-indent: 0px;
 text-shadow: none;
 text-transform: none;
 visibility: visible;
 white-space: normal;
 word-spacing: normal;
 }
.fb_reset > div {
 overflow: hidden;
 }
.fb_iframe_widget {
 display: inline-block;
 position: relative;
 }
.fb_iframe_widget span {
 display: inline-block;
 position: relative;
 text-align: justify;
 }
.fb_iframe_widget iframe {
 position: absolute;
 }
div.txt img#hero1 {
 margin: 10px;
}
div.txt img#hero {
 margin-bottom: 10px;
}
div.txt .p,
div.txt p {
 margin: 5px 0px 15px ! important;
 }

  .vk-container {
 font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
 font-size: 13px;
 line-height: 17px;
 text-align: justify;
 color: black;
 text-decoration: none;
 max-width: 600px;
 margin: 0px auto;
 }
.vk-header {
color: #949696;
text-align: center;
 border-bottom: 1px solid #DAE1E8;
 padding: 4px 4px 4px 6px;
 margin-bottom: 10px;
 }
.vk-logo {
 background: url('../images/vk-logo.gif') no-repeat scroll 0% 0% transparent;
 width: 16px;
 height: 16px;
 float: right;
 margin-top: -1px;
 }
.vk-header-text {
 padding: 2px 3px 1px;
 line-height: 100%;
 color: rgb(69, 104, 142);
 font-weight: bold;
 }
.vk-avatar img {
 float: left;
 margin-right: 10px;
 }
.vk-comment, .vk-comment-load {
 margin-bottom: 15px;
 position: relative;
 border-bottom: 1px solid rgb(218, 225, 232);
 padding-bottom: 15px;
 }
.vk-comment-load img {
     margin-bottom:10px;
 }
.vk-comment:last-child {
 border-bottom: 0px none;
 }
.vk-comment-name {
 color: rgb(43, 88, 122);
 }
.vk-comment-text {
 margin-left: 60px;
 }
.vk-comment-date {
 margin-left: 60px;
 color: rgb(153, 153, 153);
 }
.vk-comment-like {
 position: absolute;
 right: -5px;
 bottom: 10px;
 background: url('../images/like_001_001.png') no-repeat scroll left center transparent;
 width: 30px;
 height: 16px;
 display: inline-block;
 }
.vk-comment-like:hover {
 opacity: 0.5;
 cursor: pointer;
 }
.vk-comment-like-count {
 padding-left: 14px;
 font-weight: bold;
 color: rgb(114, 149, 178);
 font-size: 10px;
 }
.vk-comment-answer {
 color: rgb(43, 88, 122);
 }
.vk-comment-answer:hover {
 opacity: 0.5;
 cursor: pointer;
 }
 
.button {
background: linear-gradient(to bottom, #ff9cc3, #ed6a9e,  #dd4e85, #c91b60);
color: #200179;
padding: 15px 10px;
display: inline-block;
font-size: 20px;
font-weight: 900;
text-decoration: none;
border-radius: 8px;
box-shadow: 0 0 5px #263E2E;
background-color: #ff9cc3;
}

.button:hover {
background: linear-gradient(to top, #ff9cc3, #ed6a9e,  #dd4e85, #c91b60);
background-color: #ed6a9e;
color: #200179;
box-shadow: 0 0 5px #263E2E;
}

.txt .p,
.txt p {
    font-size: 14px;
    text-align: justify;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1025px) {
    #mainmenu_new2 li#menu_item_sr {
        display: none;
    }
}
@media (max-width: 870px) {
    #mainmenu_new2 li#menu_item_tv {
        display: none;
    }
}
@media (max-width: 730px) {
    #mainmenu_new2 li#menu_item3,
    #copyright #bottom_menu,
    #left-block {
        display: none;
    }
    #contentShifter {
        height: 14px;
    }
}
@media (max-width: 570px) {
    #mainmenu_new2 li#menu_item2 {
        display: none;
    }
    div.tit {
        width: 100%;
    }
}
@media (max-width: 400px) {
    #mainmenu_new2 li#menu_item1 {
        display: none;
    }
}